.faq-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    top: 0;
    z-index: 1000;
    right: 0;
}

.faq-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    left: 0;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-item-toggle {
    display: none;
}

.faq-item-question {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    background-color: #d7d7f3;
    border: 1px solid #f4ebf2;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.faq-item-question:hover {
    background-color: #d3dcec;
}

.faq-item-answer {
    padding: 10px;
    background-color: #898989;
    border: 1px solid #f7e7f4;
    border-radius: 5px;
    display: none;
}

.faq-item-toggle:checked + .faq-item-question {
    background-color: #f9ebfb;
}

.faq-item-toggle:checked + .faq-item-question + .faq-item-answer {
    display: block;
}

.faq-item-answer {
    
    color: #f5f4ff; 
}


.faq-item-answer-pink {
    color: #d9dbea; 
}