/* Contenedor principal */
.container {
    display: flex;
    flex-direction: row; /* Cambiado a fila para que la imagen y descripción estén lado a lado */
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto;
    max-width: 900px;
    padding: 20px;
    background-color: #f0f2f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contenedor del perfil */
.ProfileStudientContainer {
    display: flex;
    flex-direction: row; /* Para que los elementos estén en fila */
    align-items: center;
    width: 100%;
}

/* Imagen de perfil */
.imageContainer {
    position: relative;
    margin-right: 20px; /* Espaciado entre la imagen y la descripción */
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contenedor de la información (botones y descripción) */
.infoContainer {
    display: flex;
    flex-direction: column; /* Para que el botón y el área de texto estén uno debajo del otro */
    align-items: flex-start;
    width: 100%;
}

/* Botón de cambiar imagen */
.uploadButton {
    padding: 5px 15px;
    background-color: #0000ad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
}

.uploadButton:hover {
    background-color: #00008b;
}

/* Área de texto para la descripción */
.textArea {
    width: 100%;
    max-width: 500px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ddd;
    resize: none;
    margin-bottom: 10px;
}

.textArea:focus {
    border-color: #040471;
    box-shadow: 0 0 4px rgba(24, 119, 242, 0.5);
}

/* Botón para guardar la descripción */
.saveDescriptionButton {
    padding: 5px 15px;
    background-color: #0000ad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.saveDescriptionButton:hover {
    background-color: #00008b;
}

/* Contenedor de la descripción final */
.savedDescription {
    margin-top: 20px;
    text-align: left;
    width: 100%;
}
