
.table-users-container{
    width: 120%;
    display: grid;
    overflow-x: a;
    margin: 0 auto; 
    margin-left: 0px;
}
.container-header{
    display: flex;
    gap: 10px;
    padding-left: 0;
    width: 100%;
    padding: 0;
    border: 2px solid black;
    flex-direction: row;
    white-space: nowrap; /* Evitar que el texto haga saltos de línea */
    overflow: hidden; /* Ocultar el desbordamiento del contenido */
    text-overflow: ellipsis; /* Mostrar '...' si el contenido es muy largo */
}
.table-body{
    display: grid;
    column-gap: 25px;
    gap: 10px;
    padding-left: 0;
    width: 100%;
    padding: 0;
    row-gap: 2px;
    border: 2px solid purple;   
}
.table-id-user,.table-dni{
width: 75px;
text-align: center;
border: solid blue 1px;
}


.table-cell{
    border: 1px solid red;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    width: 100% ;
}

.table-row{
    border: 2px solid yellow;
    display: flex;
    flex-direction: row;
    gap: 5%;
    
}
.row-{
    text-align: center;
    align-items: center;
    border: 2px solid green;
}