.footer {
  background-color:  #193063;
  color:  #fff;
  padding: 40px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img {
  width: 150px;
}

.footer-links, .footer-contact, .footer-remain-updated {
  margin-bottom: 20px;
}

.footer-links h3, .footer-contact h3, .footer-remain-updated h3 {
  color:  #ffe3ff;
  font-size: 18px;
  margin-bottom: 10px;
  flex: 1 1 250px;
}

.footer-links a {
  display: block;
  color: #d1b4f3;
  margin: 5px 0;
  text-decoration: none;
}

.footer-links a:hover {
  color: #a385e7;
}

.footer-contact p {
  color: #d1b4f3;
  margin: 5px 0;
}

.footer-remain-updated input {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.footer-signup-btn {
  padding: 10px 20px;
  background-color: #a385e7;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.footer-signup-btn:hover {
  background-color: #7556db;
}

.footer-social a {
  color: #fff;
  margin-right: 10px;
  font-size: 20px;
}

.footer-social a:hover {
  color: #d1b4f3;
}

.footer-bottom {
  text-align: center;
  padding: 20px 0;
  /* background-color:  #506daa; */
  margin-top: 20px;
}

.footer-remain-updated input::placeholder {
  color: #ffe3ff; /* Color del placeholder */
}

/* Media Queries para Responsividad */

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column; /* Disposición en columna para pantallas pequeñas */
    align-items: center;
  }
  
  .footer-logo img {
    width: 120px; /* Tamaño reducido en móviles */
    margin-bottom: 20px;
  }

  .footer-links, .footer-contact, .footer-remain-updated {
    text-align: center;
    flex: 1 1 100%; /* Ancho completo en móviles */
    margin-bottom: 20px;
  }

  .footer-remain-updated input {
    width: 100%; /* Ancho completo para el campo de input */
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px 0; /* Reducir padding en pantallas muy pequeñas */
  }

  .footer-links h3, .footer-contact h3, .footer-remain-updated h3 {
    font-size: 16px; /* Tamaño de fuente reducido para encabezados */
  }

  .footer-social a {
    font-size: 18px; /* Ajuste de tamaño de iconos sociales */
  }
}