<<<<<<< HEAD
/* Contenedor principal para centrar el formulario */
.post-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la pantalla */
    background-color: #f0f0f0; /* Fondo claro */
  }
  
  /* Estilo para el formulario */
  .post_form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para el título de la publicación */
  .post_form h5 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  /* Estilo para los inputs de texto */
  .input_post, .text_area_post {
=======
.post_form {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.input_post {
>>>>>>> 24047515c78a93722f0e3ce5393bfde5f34963e5
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
<<<<<<< HEAD
  }
  
  /* Estilo para el área de texto */
  .text_area_post {
    min-height: 100px; /* Altura mínima */
  }
  
  /* Estilo para el input de imagen */
  input[type="file"] {
    margin: 10px 0;
  }
  
  /* Estilo para el botón de envío */
  .btn-post {
=======
}

.text_area_post {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    min-height: 100px; /* Altura mínima para el área de texto */
}

input[type="file"] {
    margin: 10px 0;
}
.contenedor_post_btn{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn-post {
>>>>>>> 24047515c78a93722f0e3ce5393bfde5f34963e5
    background-color: #74089f;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
<<<<<<< HEAD
    width: 60%;
    margin: 0 auto;
  }
  
  .btn-post:hover {
    background-color: #f7f7f7;
    color: #74089f;
    border: 1px solid #74089f;
  }
  
  /* Estilo para la vista previa de la imagen */
  .image-preview {
    margin-top: 15px;
    text-align: center;
  }
  
  .imgPost {
    max-width: 100%;
    max-height: 200px; /* Ajustar la altura de la imagen */
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
    border-radius: 4px;
  }
  
=======
    width: 60%; /* Botón de ancho completo */
    align-self: center;
}

.btn-post:hover {
    background-color: #f7f7f7; /* Color al pasar el mouse */
    color: #74089f;
    border: 1px solid  #74089f;

}

.btn-post:disabled {
    background-color: #cccccc; /* Color para el botón deshabilitado */
    cursor: not-allowed; /* Cambia el cursor */
}
>>>>>>> 24047515c78a93722f0e3ce5393bfde5f34963e5
